body {
    padding-left: 5%;
    padding-right:5%;
    background-color: #FFFEF2;
  }
  
  h1 {
    font-size: 3em;
    color: #000000;
    font-family: Arial;
  }
  
  
  #byline {
    font-size: 1.1em;
  }
  
  p {
    font-size: 1.3em;
    line-height: 1.3em;
    padding-bottom: 20px;
  }
  
  .img-container {
    width: 100%;
  }
  
  img {
    margin: auto;
    display: block;
  }
  
  .cutline {
    font-size: 10px;
  }
  
  #contact {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-style: italic;
    text-align: center;
  }
  
  /* responsive design */
  #content {
    width: 50%;
    margin: auto;
  }
  
  @media (orientation: portrait) {
    #content {
      width: 100%;
    }
  }